<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hedgehog.mapper.sys_FieldMapper" >
  <resultMap id="BaseResultMap" type="com.hedgehog.domain.sys_Field" >
    <id column="FieldID" property="fieldid" jdbcType="INTEGER" />
    <result column="F_Key" property="fKey" jdbcType="VARCHAR" />
    <result column="F_CName" property="fCname" jdbcType="VARCHAR" />
    <result column="F_Remark" property="fRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FieldID, F_Key, F_CName, F_Remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hedgehog.domain.sys_FieldExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_Field
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_Field
    where FieldID = #{fieldid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_Field
    where FieldID = #{fieldid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hedgehog.domain.sys_FieldExample" >
    delete from sys_Field
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hedgehog.domain.sys_Field" >
    insert into sys_Field (FieldID, F_Key, F_CName, 
      F_Remark)
    values (#{fieldid,jdbcType=INTEGER}, #{fKey,jdbcType=VARCHAR}, #{fCname,jdbcType=VARCHAR}, 
      #{fRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hedgehog.domain.sys_Field" >
    insert into sys_Field
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fieldid != null" >
        FieldID,
      </if>
      <if test="fKey != null" >
        F_Key,
      </if>
      <if test="fCname != null" >
        F_CName,
      </if>
      <if test="fRemark != null" >
        F_Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fieldid != null" >
        #{fieldid,jdbcType=INTEGER},
      </if>
      <if test="fKey != null" >
        #{fKey,jdbcType=VARCHAR},
      </if>
      <if test="fCname != null" >
        #{fCname,jdbcType=VARCHAR},
      </if>
      <if test="fRemark != null" >
        #{fRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hedgehog.domain.sys_FieldExample" resultType="java.lang.Integer" >
    select count(*) from sys_Field
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_Field
    <set >
      <if test="record.fieldid != null" >
        FieldID = #{record.fieldid,jdbcType=INTEGER},
      </if>
      <if test="record.fKey != null" >
        F_Key = #{record.fKey,jdbcType=VARCHAR},
      </if>
      <if test="record.fCname != null" >
        F_CName = #{record.fCname,jdbcType=VARCHAR},
      </if>
      <if test="record.fRemark != null" >
        F_Remark = #{record.fRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_Field
    set FieldID = #{record.fieldid,jdbcType=INTEGER},
      F_Key = #{record.fKey,jdbcType=VARCHAR},
      F_CName = #{record.fCname,jdbcType=VARCHAR},
      F_Remark = #{record.fRemark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hedgehog.domain.sys_Field" >
    update sys_Field
    <set >
      <if test="fKey != null" >
        F_Key = #{fKey,jdbcType=VARCHAR},
      </if>
      <if test="fCname != null" >
        F_CName = #{fCname,jdbcType=VARCHAR},
      </if>
      <if test="fRemark != null" >
        F_Remark = #{fRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where FieldID = #{fieldid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hedgehog.domain.sys_Field" >
    update sys_Field
    set F_Key = #{fKey,jdbcType=VARCHAR},
      F_CName = #{fCname,jdbcType=VARCHAR},
      F_Remark = #{fRemark,jdbcType=VARCHAR}
    where FieldID = #{fieldid,jdbcType=INTEGER}
  </update>
</mapper>