<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hedgehog.mapper.sys_UserMapper" >
  <resultMap id="BaseResultMap" type="com.hedgehog.domain.sys_User" >
    <id column="UserID" property="userid" jdbcType="INTEGER" />
    <result column="U_LoginName" property="uLoginname" jdbcType="VARCHAR" />
    <result column="U_Password" property="uPassword" jdbcType="VARCHAR" />
    <result column="U_CName" property="uCname" jdbcType="VARCHAR" />
    <result column="U_EName" property="uEname" jdbcType="VARCHAR" />
    <result column="U_GroupID" property="uGroupid" jdbcType="INTEGER" />
    <result column="U_Email" property="uEmail" jdbcType="VARCHAR" />
    <result column="U_Type" property="uType" jdbcType="TINYINT" />
    <result column="U_Status" property="uStatus" jdbcType="TINYINT" />
    <result column="U_Licence" property="uLicence" jdbcType="VARCHAR" />
    <result column="U_Mac" property="uMac" jdbcType="VARCHAR" />
    <result column="U_Remark" property="uRemark" jdbcType="VARCHAR" />
    <result column="U_IDCard" property="uIdcard" jdbcType="VARCHAR" />
    <result column="U_Sex" property="uSex" jdbcType="TINYINT" />
    <result column="U_BirthDay" property="uBirthday" jdbcType="TIMESTAMP" />
    <result column="U_MobileNo" property="uMobileno" jdbcType="VARCHAR" />
    <result column="U_UserNO" property="uUserno" jdbcType="VARCHAR" />
    <result column="U_WorkStartDate" property="uWorkstartdate" jdbcType="TIMESTAMP" />
    <result column="U_WorkEndDate" property="uWorkenddate" jdbcType="TIMESTAMP" />
    <result column="U_CompanyMail" property="uCompanymail" jdbcType="VARCHAR" />
    <result column="U_Title" property="uTitle" jdbcType="INTEGER" />
    <result column="U_Extension" property="uExtension" jdbcType="VARCHAR" />
    <result column="U_HomeTel" property="uHometel" jdbcType="VARCHAR" />
    <result column="U_PhotoUrl" property="uPhotourl" jdbcType="VARCHAR" />
    <result column="U_DateTime" property="uDatetime" jdbcType="TIMESTAMP" />
    <result column="U_LastIP" property="uLastip" jdbcType="VARCHAR" />
    <result column="U_LastDateTime" property="uLastdatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hedgehog.domain.sys_User" extends="BaseResultMap" >
    <result column="U_ExtendField" property="uExtendfield" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UserID, U_LoginName, U_Password, U_CName, U_EName, U_GroupID, U_Email, U_Type, U_Status, 
    U_Licence, U_Mac, U_Remark, U_IDCard, U_Sex, U_BirthDay, U_MobileNo, U_UserNO, U_WorkStartDate, 
    U_WorkEndDate, U_CompanyMail, U_Title, U_Extension, U_HomeTel, U_PhotoUrl, U_DateTime, 
    U_LastIP, U_LastDateTime
  </sql>
  <sql id="Blob_Column_List" >
    U_ExtendField
  </sql>
  
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_User
    where UserID = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_User
    where UserID = #{userid,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.hedgehog.domain.sys_User" >
    insert into sys_User (UserID, U_LoginName, U_Password, 
      U_CName, U_EName, U_GroupID, 
      U_Email, U_Type, U_Status, 
      U_Licence, U_Mac, U_Remark, 
      U_IDCard, U_Sex, U_BirthDay, 
      U_MobileNo, U_UserNO, U_WorkStartDate, 
      U_WorkEndDate, U_CompanyMail, U_Title, 
      U_Extension, U_HomeTel, U_PhotoUrl, 
      U_DateTime, U_LastIP, U_LastDateTime, 
      U_ExtendField)
    values (#{userid,jdbcType=INTEGER}, #{uLoginname,jdbcType=VARCHAR}, #{uPassword,jdbcType=VARCHAR}, 
      #{uCname,jdbcType=VARCHAR}, #{uEname,jdbcType=VARCHAR}, #{uGroupid,jdbcType=INTEGER}, 
      #{uEmail,jdbcType=VARCHAR}, #{uType,jdbcType=TINYINT}, #{uStatus,jdbcType=TINYINT}, 
      #{uLicence,jdbcType=VARCHAR}, #{uMac,jdbcType=VARCHAR}, #{uRemark,jdbcType=VARCHAR}, 
      #{uIdcard,jdbcType=VARCHAR}, #{uSex,jdbcType=TINYINT}, #{uBirthday,jdbcType=TIMESTAMP}, 
      #{uMobileno,jdbcType=VARCHAR}, #{uUserno,jdbcType=VARCHAR}, #{uWorkstartdate,jdbcType=TIMESTAMP}, 
      #{uWorkenddate,jdbcType=TIMESTAMP}, #{uCompanymail,jdbcType=VARCHAR}, #{uTitle,jdbcType=INTEGER}, 
      #{uExtension,jdbcType=VARCHAR}, #{uHometel,jdbcType=VARCHAR}, #{uPhotourl,jdbcType=VARCHAR}, 
      #{uDatetime,jdbcType=TIMESTAMP}, #{uLastip,jdbcType=VARCHAR}, #{uLastdatetime,jdbcType=TIMESTAMP}, 
      #{uExtendfield,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hedgehog.domain.sys_User" >
    insert into sys_User
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        UserID,
      </if>
      <if test="uLoginname != null" >
        U_LoginName,
      </if>
      <if test="uPassword != null" >
        U_Password,
      </if>
      <if test="uCname != null" >
        U_CName,
      </if>
      <if test="uEname != null" >
        U_EName,
      </if>
      <if test="uGroupid != null" >
        U_GroupID,
      </if>
      <if test="uEmail != null" >
        U_Email,
      </if>
      <if test="uType != null" >
        U_Type,
      </if>
      <if test="uStatus != null" >
        U_Status,
      </if>
      <if test="uLicence != null" >
        U_Licence,
      </if>
      <if test="uMac != null" >
        U_Mac,
      </if>
      <if test="uRemark != null" >
        U_Remark,
      </if>
      <if test="uIdcard != null" >
        U_IDCard,
      </if>
      <if test="uSex != null" >
        U_Sex,
      </if>
      <if test="uBirthday != null" >
        U_BirthDay,
      </if>
      <if test="uMobileno != null" >
        U_MobileNo,
      </if>
      <if test="uUserno != null" >
        U_UserNO,
      </if>
      <if test="uWorkstartdate != null" >
        U_WorkStartDate,
      </if>
      <if test="uWorkenddate != null" >
        U_WorkEndDate,
      </if>
      <if test="uCompanymail != null" >
        U_CompanyMail,
      </if>
      <if test="uTitle != null" >
        U_Title,
      </if>
      <if test="uExtension != null" >
        U_Extension,
      </if>
      <if test="uHometel != null" >
        U_HomeTel,
      </if>
      <if test="uPhotourl != null" >
        U_PhotoUrl,
      </if>
      <if test="uDatetime != null" >
        U_DateTime,
      </if>
      <if test="uLastip != null" >
        U_LastIP,
      </if>
      <if test="uLastdatetime != null" >
        U_LastDateTime,
      </if>
      <if test="uExtendfield != null" >
        U_ExtendField,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="uLoginname != null" >
        #{uLoginname,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null" >
        #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uCname != null" >
        #{uCname,jdbcType=VARCHAR},
      </if>
      <if test="uEname != null" >
        #{uEname,jdbcType=VARCHAR},
      </if>
      <if test="uGroupid != null" >
        #{uGroupid,jdbcType=INTEGER},
      </if>
      <if test="uEmail != null" >
        #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="uType != null" >
        #{uType,jdbcType=TINYINT},
      </if>
      <if test="uStatus != null" >
        #{uStatus,jdbcType=TINYINT},
      </if>
      <if test="uLicence != null" >
        #{uLicence,jdbcType=VARCHAR},
      </if>
      <if test="uMac != null" >
        #{uMac,jdbcType=VARCHAR},
      </if>
      <if test="uRemark != null" >
        #{uRemark,jdbcType=VARCHAR},
      </if>
      <if test="uIdcard != null" >
        #{uIdcard,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null" >
        #{uSex,jdbcType=TINYINT},
      </if>
      <if test="uBirthday != null" >
        #{uBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="uMobileno != null" >
        #{uMobileno,jdbcType=VARCHAR},
      </if>
      <if test="uUserno != null" >
        #{uUserno,jdbcType=VARCHAR},
      </if>
      <if test="uWorkstartdate != null" >
        #{uWorkstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uWorkenddate != null" >
        #{uWorkenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="uCompanymail != null" >
        #{uCompanymail,jdbcType=VARCHAR},
      </if>
      <if test="uTitle != null" >
        #{uTitle,jdbcType=INTEGER},
      </if>
      <if test="uExtension != null" >
        #{uExtension,jdbcType=VARCHAR},
      </if>
      <if test="uHometel != null" >
        #{uHometel,jdbcType=VARCHAR},
      </if>
      <if test="uPhotourl != null" >
        #{uPhotourl,jdbcType=VARCHAR},
      </if>
      <if test="uDatetime != null" >
        #{uDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="uLastip != null" >
        #{uLastip,jdbcType=VARCHAR},
      </if>
      <if test="uLastdatetime != null" >
        #{uLastdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="uExtendfield != null" >
        #{uExtendfield,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_User
    <set >
      <if test="record.userid != null" >
        UserID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.uLoginname != null" >
        U_LoginName = #{record.uLoginname,jdbcType=VARCHAR},
      </if>
      <if test="record.uPassword != null" >
        U_Password = #{record.uPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.uCname != null" >
        U_CName = #{record.uCname,jdbcType=VARCHAR},
      </if>
      <if test="record.uEname != null" >
        U_EName = #{record.uEname,jdbcType=VARCHAR},
      </if>
      <if test="record.uGroupid != null" >
        U_GroupID = #{record.uGroupid,jdbcType=INTEGER},
      </if>
      <if test="record.uEmail != null" >
        U_Email = #{record.uEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.uType != null" >
        U_Type = #{record.uType,jdbcType=TINYINT},
      </if>
      <if test="record.uStatus != null" >
        U_Status = #{record.uStatus,jdbcType=TINYINT},
      </if>
      <if test="record.uLicence != null" >
        U_Licence = #{record.uLicence,jdbcType=VARCHAR},
      </if>
      <if test="record.uMac != null" >
        U_Mac = #{record.uMac,jdbcType=VARCHAR},
      </if>
      <if test="record.uRemark != null" >
        U_Remark = #{record.uRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.uIdcard != null" >
        U_IDCard = #{record.uIdcard,jdbcType=VARCHAR},
      </if>
      <if test="record.uSex != null" >
        U_Sex = #{record.uSex,jdbcType=TINYINT},
      </if>
      <if test="record.uBirthday != null" >
        U_BirthDay = #{record.uBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uMobileno != null" >
        U_MobileNo = #{record.uMobileno,jdbcType=VARCHAR},
      </if>
      <if test="record.uUserno != null" >
        U_UserNO = #{record.uUserno,jdbcType=VARCHAR},
      </if>
      <if test="record.uWorkstartdate != null" >
        U_WorkStartDate = #{record.uWorkstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uWorkenddate != null" >
        U_WorkEndDate = #{record.uWorkenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uCompanymail != null" >
        U_CompanyMail = #{record.uCompanymail,jdbcType=VARCHAR},
      </if>
      <if test="record.uTitle != null" >
        U_Title = #{record.uTitle,jdbcType=INTEGER},
      </if>
      <if test="record.uExtension != null" >
        U_Extension = #{record.uExtension,jdbcType=VARCHAR},
      </if>
      <if test="record.uHometel != null" >
        U_HomeTel = #{record.uHometel,jdbcType=VARCHAR},
      </if>
      <if test="record.uPhotourl != null" >
        U_PhotoUrl = #{record.uPhotourl,jdbcType=VARCHAR},
      </if>
      <if test="record.uDatetime != null" >
        U_DateTime = #{record.uDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uLastip != null" >
        U_LastIP = #{record.uLastip,jdbcType=VARCHAR},
      </if>
      <if test="record.uLastdatetime != null" >
        U_LastDateTime = #{record.uLastdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uExtendfield != null" >
        U_ExtendField = #{record.uExtendfield,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update sys_User
    set UserID = #{record.userid,jdbcType=INTEGER},
      U_LoginName = #{record.uLoginname,jdbcType=VARCHAR},
      U_Password = #{record.uPassword,jdbcType=VARCHAR},
      U_CName = #{record.uCname,jdbcType=VARCHAR},
      U_EName = #{record.uEname,jdbcType=VARCHAR},
      U_GroupID = #{record.uGroupid,jdbcType=INTEGER},
      U_Email = #{record.uEmail,jdbcType=VARCHAR},
      U_Type = #{record.uType,jdbcType=TINYINT},
      U_Status = #{record.uStatus,jdbcType=TINYINT},
      U_Licence = #{record.uLicence,jdbcType=VARCHAR},
      U_Mac = #{record.uMac,jdbcType=VARCHAR},
      U_Remark = #{record.uRemark,jdbcType=VARCHAR},
      U_IDCard = #{record.uIdcard,jdbcType=VARCHAR},
      U_Sex = #{record.uSex,jdbcType=TINYINT},
      U_BirthDay = #{record.uBirthday,jdbcType=TIMESTAMP},
      U_MobileNo = #{record.uMobileno,jdbcType=VARCHAR},
      U_UserNO = #{record.uUserno,jdbcType=VARCHAR},
      U_WorkStartDate = #{record.uWorkstartdate,jdbcType=TIMESTAMP},
      U_WorkEndDate = #{record.uWorkenddate,jdbcType=TIMESTAMP},
      U_CompanyMail = #{record.uCompanymail,jdbcType=VARCHAR},
      U_Title = #{record.uTitle,jdbcType=INTEGER},
      U_Extension = #{record.uExtension,jdbcType=VARCHAR},
      U_HomeTel = #{record.uHometel,jdbcType=VARCHAR},
      U_PhotoUrl = #{record.uPhotourl,jdbcType=VARCHAR},
      U_DateTime = #{record.uDatetime,jdbcType=TIMESTAMP},
      U_LastIP = #{record.uLastip,jdbcType=VARCHAR},
      U_LastDateTime = #{record.uLastdatetime,jdbcType=TIMESTAMP},
      U_ExtendField = #{record.uExtendfield,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_User
    set UserID = #{record.userid,jdbcType=INTEGER},
      U_LoginName = #{record.uLoginname,jdbcType=VARCHAR},
      U_Password = #{record.uPassword,jdbcType=VARCHAR},
      U_CName = #{record.uCname,jdbcType=VARCHAR},
      U_EName = #{record.uEname,jdbcType=VARCHAR},
      U_GroupID = #{record.uGroupid,jdbcType=INTEGER},
      U_Email = #{record.uEmail,jdbcType=VARCHAR},
      U_Type = #{record.uType,jdbcType=TINYINT},
      U_Status = #{record.uStatus,jdbcType=TINYINT},
      U_Licence = #{record.uLicence,jdbcType=VARCHAR},
      U_Mac = #{record.uMac,jdbcType=VARCHAR},
      U_Remark = #{record.uRemark,jdbcType=VARCHAR},
      U_IDCard = #{record.uIdcard,jdbcType=VARCHAR},
      U_Sex = #{record.uSex,jdbcType=TINYINT},
      U_BirthDay = #{record.uBirthday,jdbcType=TIMESTAMP},
      U_MobileNo = #{record.uMobileno,jdbcType=VARCHAR},
      U_UserNO = #{record.uUserno,jdbcType=VARCHAR},
      U_WorkStartDate = #{record.uWorkstartdate,jdbcType=TIMESTAMP},
      U_WorkEndDate = #{record.uWorkenddate,jdbcType=TIMESTAMP},
      U_CompanyMail = #{record.uCompanymail,jdbcType=VARCHAR},
      U_Title = #{record.uTitle,jdbcType=INTEGER},
      U_Extension = #{record.uExtension,jdbcType=VARCHAR},
      U_HomeTel = #{record.uHometel,jdbcType=VARCHAR},
      U_PhotoUrl = #{record.uPhotourl,jdbcType=VARCHAR},
      U_DateTime = #{record.uDatetime,jdbcType=TIMESTAMP},
      U_LastIP = #{record.uLastip,jdbcType=VARCHAR},
      U_LastDateTime = #{record.uLastdatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hedgehog.domain.sys_User" >
    update sys_User
    <set >
      <if test="uLoginname != null" >
        U_LoginName = #{uLoginname,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null" >
        U_Password = #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uCname != null" >
        U_CName = #{uCname,jdbcType=VARCHAR},
      </if>
      <if test="uEname != null" >
        U_EName = #{uEname,jdbcType=VARCHAR},
      </if>
      <if test="uGroupid != null" >
        U_GroupID = #{uGroupid,jdbcType=INTEGER},
      </if>
      <if test="uEmail != null" >
        U_Email = #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="uType != null" >
        U_Type = #{uType,jdbcType=TINYINT},
      </if>
      <if test="uStatus != null" >
        U_Status = #{uStatus,jdbcType=TINYINT},
      </if>
      <if test="uLicence != null" >
        U_Licence = #{uLicence,jdbcType=VARCHAR},
      </if>
      <if test="uMac != null" >
        U_Mac = #{uMac,jdbcType=VARCHAR},
      </if>
      <if test="uRemark != null" >
        U_Remark = #{uRemark,jdbcType=VARCHAR},
      </if>
      <if test="uIdcard != null" >
        U_IDCard = #{uIdcard,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null" >
        U_Sex = #{uSex,jdbcType=TINYINT},
      </if>
      <if test="uBirthday != null" >
        U_BirthDay = #{uBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="uMobileno != null" >
        U_MobileNo = #{uMobileno,jdbcType=VARCHAR},
      </if>
      <if test="uUserno != null" >
        U_UserNO = #{uUserno,jdbcType=VARCHAR},
      </if>
      <if test="uWorkstartdate != null" >
        U_WorkStartDate = #{uWorkstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uWorkenddate != null" >
        U_WorkEndDate = #{uWorkenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="uCompanymail != null" >
        U_CompanyMail = #{uCompanymail,jdbcType=VARCHAR},
      </if>
      <if test="uTitle != null" >
        U_Title = #{uTitle,jdbcType=INTEGER},
      </if>
      <if test="uExtension != null" >
        U_Extension = #{uExtension,jdbcType=VARCHAR},
      </if>
      <if test="uHometel != null" >
        U_HomeTel = #{uHometel,jdbcType=VARCHAR},
      </if>
      <if test="uPhotourl != null" >
        U_PhotoUrl = #{uPhotourl,jdbcType=VARCHAR},
      </if>
      <if test="uDatetime != null" >
        U_DateTime = #{uDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="uLastip != null" >
        U_LastIP = #{uLastip,jdbcType=VARCHAR},
      </if>
      <if test="uLastdatetime != null" >
        U_LastDateTime = #{uLastdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="uExtendfield != null" >
        U_ExtendField = #{uExtendfield,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where UserID = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hedgehog.domain.sys_User" >
    update sys_User
    set U_LoginName = #{uLoginname,jdbcType=VARCHAR},
      U_Password = #{uPassword,jdbcType=VARCHAR},
      U_CName = #{uCname,jdbcType=VARCHAR},
      U_EName = #{uEname,jdbcType=VARCHAR},
      U_GroupID = #{uGroupid,jdbcType=INTEGER},
      U_Email = #{uEmail,jdbcType=VARCHAR},
      U_Type = #{uType,jdbcType=TINYINT},
      U_Status = #{uStatus,jdbcType=TINYINT},
      U_Licence = #{uLicence,jdbcType=VARCHAR},
      U_Mac = #{uMac,jdbcType=VARCHAR},
      U_Remark = #{uRemark,jdbcType=VARCHAR},
      U_IDCard = #{uIdcard,jdbcType=VARCHAR},
      U_Sex = #{uSex,jdbcType=TINYINT},
      U_BirthDay = #{uBirthday,jdbcType=TIMESTAMP},
      U_MobileNo = #{uMobileno,jdbcType=VARCHAR},
      U_UserNO = #{uUserno,jdbcType=VARCHAR},
      U_WorkStartDate = #{uWorkstartdate,jdbcType=TIMESTAMP},
      U_WorkEndDate = #{uWorkenddate,jdbcType=TIMESTAMP},
      U_CompanyMail = #{uCompanymail,jdbcType=VARCHAR},
      U_Title = #{uTitle,jdbcType=INTEGER},
      U_Extension = #{uExtension,jdbcType=VARCHAR},
      U_HomeTel = #{uHometel,jdbcType=VARCHAR},
      U_PhotoUrl = #{uPhotourl,jdbcType=VARCHAR},
      U_DateTime = #{uDatetime,jdbcType=TIMESTAMP},
      U_LastIP = #{uLastip,jdbcType=VARCHAR},
      U_LastDateTime = #{uLastdatetime,jdbcType=TIMESTAMP},
      U_ExtendField = #{uExtendfield,jdbcType=LONGVARCHAR}
    where UserID = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hedgehog.domain.sys_User" >
    update sys_User
    set U_LoginName = #{uLoginname,jdbcType=VARCHAR},
      U_Password = #{uPassword,jdbcType=VARCHAR},
      U_CName = #{uCname,jdbcType=VARCHAR},
      U_EName = #{uEname,jdbcType=VARCHAR},
      U_GroupID = #{uGroupid,jdbcType=INTEGER},
      U_Email = #{uEmail,jdbcType=VARCHAR},
      U_Type = #{uType,jdbcType=TINYINT},
      U_Status = #{uStatus,jdbcType=TINYINT},
      U_Licence = #{uLicence,jdbcType=VARCHAR},
      U_Mac = #{uMac,jdbcType=VARCHAR},
      U_Remark = #{uRemark,jdbcType=VARCHAR},
      U_IDCard = #{uIdcard,jdbcType=VARCHAR},
      U_Sex = #{uSex,jdbcType=TINYINT},
      U_BirthDay = #{uBirthday,jdbcType=TIMESTAMP},
      U_MobileNo = #{uMobileno,jdbcType=VARCHAR},
      U_UserNO = #{uUserno,jdbcType=VARCHAR},
      U_WorkStartDate = #{uWorkstartdate,jdbcType=TIMESTAMP},
      U_WorkEndDate = #{uWorkenddate,jdbcType=TIMESTAMP},
      U_CompanyMail = #{uCompanymail,jdbcType=VARCHAR},
      U_Title = #{uTitle,jdbcType=INTEGER},
      U_Extension = #{uExtension,jdbcType=VARCHAR},
      U_HomeTel = #{uHometel,jdbcType=VARCHAR},
      U_PhotoUrl = #{uPhotourl,jdbcType=VARCHAR},
      U_DateTime = #{uDatetime,jdbcType=TIMESTAMP},
      U_LastIP = #{uLastip,jdbcType=VARCHAR},
      U_LastDateTime = #{uLastdatetime,jdbcType=TIMESTAMP}
    where UserID = #{userid,jdbcType=INTEGER}
  </update>
  <select id="selectUserInPager" statementType="CALLABLE" parameterType="com.hedgehog.domain.QueryParam" resultMap="BaseResultMap">
{call SupesoftPage(
#{TableName,javaType=java.lang.String jdbcType=NVARCHAR mode=IN},
#{ReturnFields,  javaType=java.lang.String jdbcType=NVARCHAR mode=IN},
#{PageSize,  javaType=java.lang.Integer jdbcType=INTEGER mode=IN},
#{PageIndex,  javaType=java.lang.Integer jdbcType=INTEGER mode=IN},
#{Where,  javaType=java.lang.String jdbcType=NVARCHAR mode=IN},
#{Orderfld,  javaType=java.lang.String jdbcType=NVARCHAR mode=IN},
#{OrderType,javaType=java.lang.Integer jdbcType=INTEGER mode=IN},
#{RecordCount,javaType=java.lang.Integer jdbcType=INTEGER mode=INOUT},
#{PageCount,javaType=java.lang.Integer jdbcType=INTEGER mode=INOUT}
)} 
</select>
<select id="authenticate" parameterType="com.hedgehog.domain.sys_User" resultType="java.lang.Integer">
select count(*) from sys_User where U_LoginName = #{uLoginname,jdbcType=VARCHAR} and U_Password = #{uPassword,jdbcType=VARCHAR}
</select>
<select id="getUser" parameterType="java.lang.String" resultMap="BaseResultMap">
 select 
    <include refid="Base_Column_List" />
    from sys_User
    where U_LoginName = #{uLoginname,jdbcType=VARCHAR}
</select>
</mapper>