@charset "utf-8";
/* CSS Document */


body{font-family:"宋体"; font-size:12px; margin:0 auto; padding:0;background:url(/resources/images/jqblb_01.jpg) repeat;}
/*顶部*/
a{ text-decoration:none; }
a:hover{ text-decoration:none}
img{ border:none; margin:0px; padding:0px;}


.wall{ width:952px; height:auto; margin:0 auto;}
#top{margin:0 auto;padding:0px; width:952px}
#top_image{  height:90px; width:952px; background:url(/resources/images/jqlb_03.jpg);}
#top_list{ padding-top:1px; height:31px; background:url(/resources/images/jqlb_05.jpg) no-repeat}
#top_list li{ font-size:14px; font-weight:bold; float:left; line-height:10px!important;line-height:30px; color:#FFF; list-style-type:none; margin-right:40px; padding-left:14px ;  }
#top_list li a { text-decoration:none; color:#FFF}
.shouye{ color:#036;}
#img_go{ background:url(/resources/images/jqlb_06.jpg);width:952px; height:197px; margin:0; padding:0;}
 



#left{ width:192px; height:auto; float:left;}
.left-top1{ background:url(/resources/images/jqlb_07.jpg); width:192px; height:29px; margin-top:10px;}
.left-top1 span{ line-height:30px; text-align:center; font-size:14px; color:#630;  padding-left:12px; font-weight:bold; }
.left-bottom{ background-color:#FFF; width:192px; height:155px;}
.left-bottom img{ margin-left:10px; margin-top:5px;}
.left-bottom span{ font-size:14px; color:#39F; margin:0px; line-height:20px;padding-left:8px; }
.left-bottom p{font-size:14px; color:#39F; margin:0px; line-height:35px; padding-left:8px; }
.left-bottom ul{ margin:0px; padding:0px; list-style:none;}
.left-bottom ul li{ line-height:15px; margin-left:10px;}
.qqd{ width:188px; height:30px; margin-bottom:5px; margin-left:5px;}
.qqd img{ margin:-2px;}

.gycpfl-top{ background:url(/resources/images/jqlb_07.jpg); width:192px; height:29px; margin-top:10px;}
.gycpfl-top span{ line-height:30px; text-align:center; font-size:16px; color:#630;  padding-left:12px; font-weight:bold; }
.gycpfl-bottom{ background-color:#FFF; width:192px; height:auto;}
.gycpfl-bottom ul{ list-style:none; margin:0px; padding:0px;  }
.gycpfl-bottom ul li{ list-style:none; padding-top:10px; border-bottom:#666 dashed 1px; padding-bottom:10px;}
.gycpfl-bottom ul li img{ float:left; margin-left:2px;}
.gycpfl-bottom ul li a{ font-size:13px; color:#0066cc; font-weight:bold;}



.cpss-top{ background:url(/resources/images/jqlb_07.jpg); width:192px; height:29px; margin-top:10px;}
.cpss-top span{ line-height:30px; text-align:center; font-size:16px; color:#630;  padding-left:12px; font-weight:bold; }
.cpss-bottom{ background-color:#FFF; ; width:192px; height:104px; }
.cpss-bottom a{ margin:0px; padding:0px; margin-left:5px;}
.text1{ width:110px; height:22px; margin-top:6px;}
.text2{ width:52px; height:20px; margin-top:6px;}
.bt1{ background:url(/resources/images/jqbnr-9.jpg); width:73px; height:31px; border:none; margin-left:38px; margin-top:5px;}

.lxfs-top{ background:url(/resources/images/jqlb_07.jpg); width:192px; height:29px; margin-top:10px;}
.lxfs-top span{line-height:30px; text-align:center; font-size:14px; color:#630;  padding-left:12px; font-weight:bold; }
.lxfs-bottom{ width:192px; height:184px; background-color:#fff; }
.lxfs-bottom ul{ margin:0px; padding:0px; list-style:none; margin-left:10px;}
.lxfs-bottom ul li{ line-height:20px; width:180px; height:23px;}
.lxfs-bottom ul li img{ margin:0px;}
.lxfs-bottom li a{ color:#0066cc}


.yqlj-top{ background:url(/resources/images/jqlb_07.jpg); width:192px; height:29px; margin-top:10px;}
.yqlj-top span{ line-height:30px; text-align:center; font-size:14px; color:#630;  padding-left:12px; font-weight:bold; }
.yqlj-bottom{ width:192px; height:222px; background-color:#fff;}
.yqlj-bottom ul{ list-style:none; margin:0; padding:0; margin-left:10px;}
.yqlj-bottom ul li{ width:180px; height:24px; border-bottom:#e4e4e4 solid 1px; padding-top:10px;}
.yqlj-bottom ul li a{ color:#0066cc}


#right{ float:left; width:752px; height:auto; margin:0; padding:0; margin-left:5px;margin-top:10px; overflow:hidden;}
.right-top{ width:752px; height:auto; background-color:#FFF;}
.right-top-top{ background:url(/resources/images/jqlb_07.jpg) repeat; width:752px;}
.right-top-top span{ line-height:30px; text-align:center; font-size:14px; color:#630;  padding-left:12px; font-weight:bold; }
.right-top-top span a{ font-size:12px; color:#0066FF; margin-left:600px; font-weight:normal;}
.right-top-bottom{ margin-top:10px; width:750px; height:330px;}
.right-top-bottom img{ float:left; padding:0px; padding-left:15px; padding-right:5px;}
.gengduo p{ padding-left:690px; color:#0066cc; background-color:#FFF;}


.right-bottom-top{background:url(/resources/images/jqlb_07.jpg) repeat; width:752px; margin-top:10px; }
.right-bottom-top span{line-height:30px; text-align:center; font-size:14px; color:#630;  padding-left:12px; font-weight:bold;}
.right-bottom-top span a{font-size:12px; color:#0066FF; margin-left:600px; font-weight:normal;}


.right-bottom-bottom{ width:752px!important; width:752px; height:auto; background-color:#FFF; overflow:hidden; }
.right-bottom-bottom ul{ margin:0px; padding:0px; width:720px; list-style:none; height:auto; margin-left:16px;}
.right-bottom-bottom ul li{margin:0px; padding:0px;  height:228px; float:left; margin-top:5px;margin-right:8px ;}
.right-bottom-bottom  ul li h2{width:167px; height:15px; line-height:15px; padding:0px; margin:0px; text-align:center; border:none; font-size:12px; font-weight:normal; margin-top:2px; color:#ccc; font-weight:bold;line-height:20px;}
.right-bottom-bottom  ul li h2 a{ margin:0px; padding:0px;color:#0066cc;font-weight:normal;}
.right-bottom-img{ margin:0px; padding:0px;width:169px; height:167px; border:#999999 solid 1px;}
.right-bottom-img img{ margin:7px 7px;}
.tupian img{ margin:0px; padding:0px; margin-left:70px; }
.right-bottom-bottom p{ padding-left:690px; color:#0066cc; background-color:#FFF;}





.footer{ width:952px!important;width:948px; height:93px; margin:auto;background-color:#fff; margin-top:15px; }
.footer h5{ margin:0; padding:0;font-weight:normal; font-size:12px; text-align:center; padding-top:20px; }