<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hedgehog.mapper.biz_menuMapper" >
  <resultMap id="BaseResultMap" type="com.hedgehog.domain.biz_menu" >
    <id column="menuID" property="menuid" jdbcType="INTEGER" />
    <result column="menu_memberid" property="menuMemberid" jdbcType="INTEGER" />
    <result column="menu_parentID" property="menuParentid" jdbcType="INTEGER" />
    <result column="menu_index" property="menuIndex" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_target" property="menuTarget" jdbcType="VARCHAR" />
    <result column="menu_class" property="menuClass" jdbcType="VARCHAR" />
    <result column="menu_enable" property="menuEnable" jdbcType="INTEGER" />
    <result column="menu_ch_Code" property="menuChCode" jdbcType="VARCHAR" />
    <association property="channel" column="menu_ch_Code" javaType="com.hedgehog.domain.biz_channel" select="com.hedgehog.mapper.biz_channelMapper.selectByChannelCode"/> 
    <association property="member" column="menu_memberid" javaType="com.hedgehog.domain.biz_member" select="com.hedgehog.mapper.biz_memberMapper.selectByPrimaryKey"/>   
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hedgehog.domain.biz_menu" extends="BaseResultMap" >
    <result column="menu_content" property="menuContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    menuID, menu_memberid, menu_parentID, menu_index, menu_name, menu_target, menu_class, 
    menu_enable, menu_ch_Code
  </sql>
  <sql id="Blob_Column_List" >
    menu_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hedgehog.domain.biz_menuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from biz_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hedgehog.domain.biz_menuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from biz_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from biz_menu
    where menuID = #{menuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from biz_menu
    where menuID = #{menuid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hedgehog.domain.biz_menuExample" >
    delete from biz_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hedgehog.domain.biz_menu" >
    insert into biz_menu (menuID, menu_memberid, menu_parentID, 
      menu_index, menu_name, menu_target, 
      menu_class, menu_enable, menu_ch_Code, 
      menu_content)
    values (#{menuid,jdbcType=INTEGER}, #{menuMemberid,jdbcType=INTEGER}, #{menuParentid,jdbcType=INTEGER}, 
      #{menuIndex,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuTarget,jdbcType=VARCHAR}, 
      #{menuClass,jdbcType=VARCHAR}, #{menuEnable,jdbcType=INTEGER}, #{menuChCode,jdbcType=VARCHAR}, 
      #{menuContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hedgehog.domain.biz_menu" >
    insert into biz_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuid != null" >
        menuID,
      </if>
      <if test="menuMemberid != null" >
        menu_memberid,
      </if>
      <if test="menuParentid != null" >
        menu_parentID,
      </if>
      <if test="menuIndex != null" >
        menu_index,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuTarget != null" >
        menu_target,
      </if>
      <if test="menuClass != null" >
        menu_class,
      </if>
      <if test="menuEnable != null" >
        menu_enable,
      </if>
      <if test="menuChCode != null" >
        menu_ch_Code,
      </if>
      <if test="menuContent != null" >
        menu_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuid != null" >
        #{menuid,jdbcType=INTEGER},
      </if>
      <if test="menuMemberid != null" >
        #{menuMemberid,jdbcType=INTEGER},
      </if>
      <if test="menuParentid != null" >
        #{menuParentid,jdbcType=INTEGER},
      </if>
      <if test="menuIndex != null" >
        #{menuIndex,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuTarget != null" >
        #{menuTarget,jdbcType=VARCHAR},
      </if>
      <if test="menuClass != null" >
        #{menuClass,jdbcType=VARCHAR},
      </if>
      <if test="menuEnable != null" >
        #{menuEnable,jdbcType=INTEGER},
      </if>
      <if test="menuChCode != null" >
        #{menuChCode,jdbcType=VARCHAR},
      </if>
      <if test="menuContent != null" >
        #{menuContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hedgehog.domain.biz_menuExample" resultType="java.lang.Integer" >
    select count(*) from biz_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update biz_menu
    <set >
      <if test="record.menuid != null" >
        menuID = #{record.menuid,jdbcType=INTEGER},
      </if>
      <if test="record.menuMemberid != null" >
        menu_memberid = #{record.menuMemberid,jdbcType=INTEGER},
      </if>
      <if test="record.menuParentid != null" >
        menu_parentID = #{record.menuParentid,jdbcType=INTEGER},
      </if>
      <if test="record.menuIndex != null" >
        menu_index = #{record.menuIndex,jdbcType=INTEGER},
      </if>
      <if test="record.menuName != null" >
        menu_name = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuTarget != null" >
        menu_target = #{record.menuTarget,jdbcType=VARCHAR},
      </if>
      <if test="record.menuClass != null" >
        menu_class = #{record.menuClass,jdbcType=VARCHAR},
      </if>
      <if test="record.menuEnable != null" >
        menu_enable = #{record.menuEnable,jdbcType=INTEGER},
      </if>
      <if test="record.menuChCode != null" >
        menu_ch_Code = #{record.menuChCode,jdbcType=VARCHAR},
      </if>
      <if test="record.menuContent != null" >
        menu_content = #{record.menuContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update biz_menu
    set menuID = #{record.menuid,jdbcType=INTEGER},
      menu_memberid = #{record.menuMemberid,jdbcType=INTEGER},
      menu_parentID = #{record.menuParentid,jdbcType=INTEGER},
      menu_index = #{record.menuIndex,jdbcType=INTEGER},
      menu_name = #{record.menuName,jdbcType=VARCHAR},
      menu_target = #{record.menuTarget,jdbcType=VARCHAR},
      menu_class = #{record.menuClass,jdbcType=VARCHAR},
      menu_enable = #{record.menuEnable,jdbcType=INTEGER},
      menu_ch_Code = #{record.menuChCode,jdbcType=VARCHAR},
      menu_content = #{record.menuContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update biz_menu
    set menuID = #{record.menuid,jdbcType=INTEGER},
      menu_memberid = #{record.menuMemberid,jdbcType=INTEGER},
      menu_parentID = #{record.menuParentid,jdbcType=INTEGER},
      menu_index = #{record.menuIndex,jdbcType=INTEGER},
      menu_name = #{record.menuName,jdbcType=VARCHAR},
      menu_target = #{record.menuTarget,jdbcType=VARCHAR},
      menu_class = #{record.menuClass,jdbcType=VARCHAR},
      menu_enable = #{record.menuEnable,jdbcType=INTEGER},
      menu_ch_Code = #{record.menuChCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hedgehog.domain.biz_menu" >
    update biz_menu
    <set >
      <if test="menuMemberid != null" >
        menu_memberid = #{menuMemberid,jdbcType=INTEGER},
      </if>
      <if test="menuParentid != null" >
        menu_parentID = #{menuParentid,jdbcType=INTEGER},
      </if>
      <if test="menuIndex != null" >
        menu_index = #{menuIndex,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuTarget != null" >
        menu_target = #{menuTarget,jdbcType=VARCHAR},
      </if>
      <if test="menuClass != null" >
        menu_class = #{menuClass,jdbcType=VARCHAR},
      </if>
      <if test="menuEnable != null" >
        menu_enable = #{menuEnable,jdbcType=INTEGER},
      </if>
      <if test="menuChCode != null" >
        menu_ch_Code = #{menuChCode,jdbcType=VARCHAR},
      </if>
      <if test="menuContent != null" >
        menu_content = #{menuContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where menuID = #{menuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hedgehog.domain.biz_menu" >
    update biz_menu
    set menu_memberid = #{menuMemberid,jdbcType=INTEGER},
      menu_parentID = #{menuParentid,jdbcType=INTEGER},
      menu_index = #{menuIndex,jdbcType=INTEGER},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_target = #{menuTarget,jdbcType=VARCHAR},
      menu_class = #{menuClass,jdbcType=VARCHAR},
      menu_enable = #{menuEnable,jdbcType=INTEGER},
      menu_ch_Code = #{menuChCode,jdbcType=VARCHAR},
      menu_content = #{menuContent,jdbcType=LONGVARCHAR}
    where menuID = #{menuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hedgehog.domain.biz_menu" >
    update biz_menu
    set menu_memberid = #{menuMemberid,jdbcType=INTEGER},
      menu_parentID = #{menuParentid,jdbcType=INTEGER},
      menu_index = #{menuIndex,jdbcType=INTEGER},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_target = #{menuTarget,jdbcType=VARCHAR},
      menu_class = #{menuClass,jdbcType=VARCHAR},
      menu_enable = #{menuEnable,jdbcType=INTEGER},
      menu_ch_Code = #{menuChCode,jdbcType=VARCHAR}
    where menuID = #{menuid,jdbcType=INTEGER}
  </update>
  <select id="selectByMember" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select * from biz_menu where menu_memberid=#{value} order by menu_index
  </select>
  <select id="selectByMemberEnable" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select * from biz_menu where menu_memberid=#{value} and menu_enable=1 order by menu_index
  </select>
</mapper>